@page
@model StefansSuperShop.Pages.Admin.ProductsModel
@{
}
<div class="container">
    <h1>Products</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock level</th>
                <th scope="col">Published</th>
                <th scope="col">Rating</th>
                <th scope="col">CategoryID</th>
                <th scope="col">CampingPrice</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var p in Model.Products)
        {
            <tr >
                <td >@p.Name</td>
                <td>@p.Price</td>
                <td>@p.Stocklevel</td>
                    <td>@p.publish</td>
                    <td>@p.Rating</td>
                    <td>@p.CategoryID</td>
                    <td>@p.CampingPrice</td>
                <td>
                        <a class="btn btn-primary btn-lg " role="button" href="/admin/Edit?id=@p.Id">Edit</a>
                        @*<a class="btn btn-primary " role="button" href="/admin/productedit?id=@p.Id">Edit</a>*@
                </td>
            </tr>

        }
        </tbody>        
    </table>
    <a asp-page="createproduct" class="btn btn-primary btn-lg " role="button">New</a>
    
</div>